.ExerciseNew_Lateral_Spaces{
  margin-right: 100px;
  margin-left: 100px;
}
.ExerciseNew_Card_Space{
  margin-top: 180px;
}
.ExerciseNew_Form_Space{
  margin-top: 140px;
  padding-top: 4%;
}

.ExerciseNew_Margin {
  margin-top: 140px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.ExerciseNew_Card{
  padding-bottom: 4%;
}